@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:300,300i,700');

html {
	font-size: 16px;
}

h1,h2,h3,h4,h5 {
	font-family: 'Anton', sans-serif;
}


h1 {
	font-size: 3rem;
	letter-spacing: 6px;
	color: #261933;
	padding-top:9vh;
}


h2 {
	font-size: 10vw;
	letter-spacing: 6px;
	color: #261933;
}

h3 { 
	font-size:2rem;
	color:#3B454B;
	font-weight:100;
	padding-bottom:16px;
}

h4 {
	font-size:1.2rem;
	letter-spacing: 2px;
	padding-bottom: 12px;
	color: #3B454B;
}

p, li, a, button {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}


@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}


.ng-enter           { animation: scaleUp 0.5s both ease-in; z-index: 8888; }
.ng-leave           { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }


.index.ng-enter         { animation: scaleUp 0.5s both ease-in; }
.index.ng-leave         { transform-origin: 0% 0%; animation: rotateFall 1s both ease-in; }

.settings.ng-enter         { animation: scaleUp 0.5s both ease-in; }
.settings.ng-leave         { transform-origin: 0% 0%; animation: rotateFall 1s both ease-in; }
